@{
    ViewBag.Title = "Skills - Index";
    Layout = "~/Views/Shared/templateLayout.cshtml";
    Random rnd = new Random();
    var colors = ViewBag.colors;




}


<div class="block-header">
    <h2>Skills</h2>
</div>
